body{
	background:url("../imagens/background.jpg"); /*inserção da imagem de fundo em todo o site*/
	color:#868686; /*cor padrão para todas as fontes*/
	font-family: "Open Sans", Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
	font-size: 18px; /*tamanho da fonte*/
	font-weight: 300; /*indica que a fonte está coonfigurada como Open Sans Light*/
	line-height: 22px;/*altura da linha*/
	text-align: left; /*alinhando o texto à esquerda*/
	text-shadow:1px 1px 0px #fff; /*sombreamento para as fontes do site*/
}
.center{
	margin: 0 auto;
	max-width:1200px; /*largura máxima do layout*/
	width: 90%; /*ajuste do layout à tela*/		
}

/*.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
  evitando que os floats se aglomerem.
*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*fim do clearfix*/
img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100%*/
}
h1, h2{
	color:#FE9380;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: -3px; /*espaçamento entre as letras*/
	line-height: 60px;
}
h3{
	font-size: 32px;
	font-weight: 300;
	letter-spacing: -2px; /*espaçamento entre as letras*/
	line-height: 38px;
}
p{
	font-weight: 300;/*modifica a força da fonte para light*/
	letter-spacing: -1px; /*espaçamento entre as letras*/
}
a, a:link, a:visited{
	color:#FE9380; /*cor dos links*/
	font-weight:400; /*modifica a força da fonte para semi-bold*/
	text-decoration:none; /*retira o sublinhado dos links*/
}
a:hover{
	color:#FE5E41;
	text-decoration:underline; /*inseri uma linha sob o link*/
	text-shadow:none; /*retira a sombra da fonte*/
}

/*----------------------------------------------------------
Seção HEADER - Topo do Site <<<<<===========================
----------------------------------------------------------*/
header{
	border-bottom: 1px solid #E0E0E0; 
	height:150px;
	width:100%; /*1200px ÷ 1200px = 1 x 100 = 100%*/
}
/*
=========================
logotipo
=========================
*/
	header h1 a{
		background:url("../imagens/desktop-responsive-design.png") no-repeat; 
		display:block; 
		float:left; 
		height:139px; 
		text-indent:-9999; 
		width:58.333333333333%;
	}
/*
=========================
nav - menu de navegação
=========================
*/
nav{
	float:right;
	margin-top:78px; 
	text-align:right; 
	width:41.6666666666667%;
}
	nav ul{
		list-style-type:none; 
	}
		nav li {
			display: inline; 
		}
			nav ul li a{
				margin-right: 2.5%;
			}
				nav ul li:nth-child(5) a{
					margin-right:0; 
				}
			nav a:link, nav a:visited{
				color:#999;
				font-size: 1.2222222222em;
				font-weight: 300;
				letter-spacing: -0.0909090909em; 
				line-height: 1.18181818182em; 
				display:inline-block;
			}
			nav a.ativo:link, nav a:hover{
				color:#FE9380; 
			}
/*----------------------------------------------------------
Seção .CHAMADA <<<<<========================================
----------------------------------------------------------*/
.chamada{
	height:290px;
	text-align:center;
	width:100%; 
}
	h2 span{
		font-size: 1em; 
		font-weight: 300;
		letter-spacing: -0.0333333333em; 
		line-height: 1em; 
	}
	.chamada h3 {
		margin: 0 auto;
		width:75%; 
	}
/*----------------------------------------------------------
Seção .CONTAINER - Conteúdo com 3 colunas <<<<<=============
----------------------------------------------------------*/
.container{
	background-color:#FE9481;
	height: 417px;
	padding:2.5%; 
	width:95%; 
}

.container_text{
	background-color:#FFF;
	height: 30em;
	padding:2.5%; 
	width:95%; 
}

.desktop, .tablet, .mobile{
	float:left;
	position:relative;
	text-align:center;
	width:31.57894736842105%;
}
.desktop, .tablet{
	margin-right: 2.631578947368421%;
}
.mobile{
	background-color:#9C8CB9;
	margin-right:0px;
}
.desktop{
	background-color:#FE9481;
}
.tablet{
	background-color:#FCDA92;
}
/*Pagina da galeria */
.desktop_text, .tablet_text, .mobile_text{
	float:left;
	position:relative;
	text-align:left;
	width:100%;
}
.desktop_text, .tablet_text{
	margin-right: 2.631578947368421%;
}
.mobile_text{
	background-color:#FFF;
	margin-right:0px;
}
.desktop_text{
	background-color:#FFF;
}
.tablet_text{
	background-color:#FFF;
}
/*Pagina da galeria */
/*
=========================
figure - imagens
=========================
*/
.container figure{
	margin: 15px auto 0px auto; 
	width:69.44444444444444%;
}
/*
=========================
formatação do texto
=========================
*/
.container h3{
	color:#fff;
	font-size: 1.77777777778em; 
	letter-spacing: -0.0625em; 
	margin-bottom: 30px;
	text-shadow:none;
	text-align: center;
}
.container p{
	background-color:#fff;
	float:left;
	height:160px;
	padding: 1.9444444444444445%; 
	position:absolute;
	width-max:100%; 
	text-align:justify;
	top:225px;
}
/*
=========================
formatação do botão
=========================
*/
span.btn{
	font-size: 1.1111111111em; 
	font-weight: 400;
	letter-spacing: -0.1em; 
	height:27px;
	margin-top: 30px;
	position:absolute;
	right: 1px;
	text-align:center;
	text-shadow:none;
	width:33.33333333333333%; 
}
span.btn a{
	color:#fff;
	padding: 2px 3.333333333333333%; 
}
.desktop span.btn a{
	background-color:#FE9481;
}
.tablet span.btn a{
	background-color:#FCDA92;
}
.mobile span.btn a{
	background-color:#9C8CB9;
}
/*----------------------------------------------------------
Seção FOOTER - Rodape com 2 colunas <<<<<===================
----------------------------------------------------------*/
footer{
	clear:both;
	height: 50px;
	padding: 10px 0;
	width:100%; 
}
.copyright{
	float:left;
	margin-left: 2.5%; 
}
.desenvolvedor{
	float:right;
}
.desenvolvedor figure{
	width:100%;
}

/*
=========================
media screen
=========================
*/
@media screen and (max-width: 1200px){
	.chamada h3 {
		font-size: 1.66666666667em; 
	}
	.container h3{
		font-size: 1.55555555556em; 
	}
	.container p{
		height: 170px;
		top:222px;
	}
}

@media screen and (max-width:960px){
	header h1 a{
		width:37.5%; 
	}
	nav{
		width:62.5%; 
	}
	h2{
		font-size:2.6666666667em; 
	}
/*.chamada*/
	.chamada {
		height: 250px;
	}
		.chamada h3{
			font-size:1.5em; 
			width:88.54166666666667%; 
		}
/*.container*/
	.container{
		height: 425px;
		padding:3.125%; 
		width:93.75%; 
	}
		.desktop, .tablet, .mobile{
			width:31.45833333333333%; 
		}
		.container .desktop figure, .container .tablet figure, .container .mobile figure {
			width:66.22516556291391%; 
		}
			.container img{
					height:100px;
				}
		.container h3{
			font-size: 1.6666666667em; 
		}
		.container p{
			font-size: 0.8333333333em; 
			top: 230px;
		}
}

@media screen and (max-width:768px){
/*cores dos links e H2*/
	h2, a, a:link, a:visited{
	color:#FBCA61; 
}
	a:hover{
		color:#F9AD0F;
}
/*header*/	
	header {
		height:195px;
		text-align:center;
	}
		header h1 a{
			background-position: 57% 0;
			height: 126px;
			margin-bottom: 15px;
			width: 100%;
		}
		nav{
			float:none;
			text-align:center;
			width: 100%;
		}
			nav a.ativo:link, nav a:hover{
				color:#FBCA61; 
			}
/*.chamada*/
	.chamada{
		height:200px;
	}
		h2 {
			font-size: 2.2222222222em; 
		}
		.chamada h3{
			font-size:1.1111111111em; 
		}
/*.container*/
	.container{
		background-color:#FCDA92;
		height: 380px;
		padding:3.90625%; 
		width:92.1875%; 
	}
		.desktop, .tablet, .mobile{
			width:31.25%;
		}
		.container .desktop figure, .container .tablet figure, .container .mobile figure {
			width:62.25%; 
		}
			.container img{
					height:80px;
				}
		.container h3{
			font-size: 1.6666666667em; 
		}
		.container p{
			font-size: 0.7777777778em;
			height:140px;
			line-height: 1.1428571428em;
			padding: 2.9166666667%; 
			top: 215px;
		}
			span.btn{
				font-size: 1.1111111111em; 
				letter-spacing: -0.1em; 
				height:22px;
				margin-top: 20px;
				position:absolute;
				width:50%;
			}
			span.btn a{
				padding: 2px 3.333333333333333%; 
			}
}

@media screen and (max-width:480px){
/*Geral*/
*{
	margin:0;
	padding:0;
}
.center{
	width:100%;
}
/*cores dos links e H2*/
h2, a, a:link, a:visited{
	color:#9C8CB9; 
}
a:hover{
		color:#745F9A;
}
/*header*/	
header {
	border-bottom: none;
	height:auto;
	text-align:center;
}
	header h1 a{
		background-position: 50% 0;
		display:inherit;
		height: 126px;
		width: 100%;
	}
/*menu nav*/
nav{
	clear:both;
}
	nav li {
		background-color: #9C8CB9;
		display:block;
	}
		nav ul li a{
			height: 40px;
			margin: 0 auto;
			padding-top:3px;
			text-align:center;
			text-shadow:none;
			width: 100%;
		}
		nav li a:link{
			color:#fff;
			font-size:1.3888888889em; 
		}
		nav li a.ativo:link, nav li a:hover, nav li a:visited {
			background-color:#745F9A; 
			color:#fff;
			text-decoration:none;
		}
		nav li a.ativo:hover, nav li a.ativo:visited{
			 background-color: #9C8CB9;
		}
/*.chamada*/
.chamada{
	height:130px;
	margin-top:25px;
}
	h2 {
		font-size: 1.4444444444em; 
		letter-spacing:-0.0769230769230769em;
		margin-bottom: 15px;
	}
	.chamada h3{
		font-size:0.7777777778em; 
	}

	/*.chamada*/
.chamada_text{
	height:auto;
	margin-top:25px;
}
	h2 {
		font-size: 1.4444444444em; 
		letter-spacing:-1px;
		margin-bottom: 15px;
		text-align: center;
	}
	.chamada_text h3{
		font-size:0.9em;
		letter-spacing:-1px;
	}
/*.container*/
.container{	
	background-color:#9C8CB9;
	margin:0;
	padding:0;
	width:100%;
}
	.container .desktop, .container .tablet, .container .mobile{
		float:none;
		height:180px;
		width:100%;
	}
	.container .desktop figure, .container .tablet figure, .container .mobile figure{
		float:left;
		height:160px;
		margin:0;
		padding:0;
		width: 53.125%; 
	}
	.container h3{
		float:left;
		margin-top: 40px;
		width: 46.875%; 
	}	
		.container .desktop figure img, .container .tablet figure img, .container .mobile figure img{
			height:125px;
			margin-top:15px;
			width:86.2745098040%;
		}
	.container p{
		display:none; /*oculta o parágrafo*/
	}

	.container_text{	
	background-color:#FFF;
	margin:0;
	padding:0;
	width:100%;
	height: auto;
}
	.container_text .desktop_text, .container_text .tablet_text, .container_text .mobile_text{
		float:none;
		height:auto;
		width:100%;
	}
	.container_text .desktop_text figure, .container_text .tablet_text figure, .container_text .mobile_text figure{
		float:left;
		height:160px;
		margin:0;
		padding:0;
		width: 53.125%; 
	}
	.container_text h3{
		float:left;
		margin-top: 40px;
		width: 100%; 
	}	
		.container_text .desktop_text figure img, .container_text .tablet_text figure img, .container_text .mobile_text figure img{
			height:125px;
			margin-top:15px;
			width:86.2745098040%;
		}
	.container_text p{
		font-size: 0.9em; /*oculta o parágrafo*/
	}
/*footer*/
	.copyright, .desenvolvedor{
		float:none;
		margin: 0;
		padding: 0;
		text-align:center;
	}
	.desenvolvedor figure{
		width:inherit;
	}
}

@media screen and (max-width:320px){
/*cores dos links e H2*/
h2, a, a:link, a:visited{
	color:#79E1D5; 
}
desktop_text p {
	font-size: 0.9em
}
a:hover{
		color:#2FD0BC;
}
/*menu nav*/
	nav li {
		background-color: #79E1D5;
	}
		nav li a:link{
		color:#555;
		}
		nav li a.ativo:link, nav li a:hover, nav li a:visited {
			background-color:#2FD0BC; 
			color:#fff;
		}
		nav li a.ativo:hover, nav li a.ativo:visited{
			 background-color: #2FD0BC;
		}
/*.chamada*/
.chamada{
	height:130px;
	margin-top:20px;
}
	h2 {
		font-size: 1.1111111111em; 
		margin-bottom: 15px;
	}
	.chamada h3{
		font-size:0.7777777778em; 
	}
/*.container*/
	.container .desktop, .container .tablet, .container .mobile{
		float:none;
		height:160px;
		width:100%;
	}
	.container .desktop figure, .container .tablet figure, .container .mobile figure{
		float:left;
		width: 100%;
	}
	.container h3{
		display:none;
	}	
	.container p{
		display:none; /*oculta o parágrafo*/
	}

	.chamada_text{
	height:auto;
	margin-top:20px;
}
	.chamada_text h2 {
		font-size: 1.1111111111em; 
		margin-bottom: 15px;
		text-align: center;
	}
	.chamada_text h3{
		font-size:0.9em; 
		letter-spacing: -1px;
	}
/*.container*/
	.container_text .desktop_text, .container_text .tablet_text, .container_text .mobile_text{
		float:none;
		height:auto;
		width:100%;
	}
	.container_text .desktop_text figure, .container_text .tablet_text figure, .container_text .mobile_text figure{
		float:left;
		width: 100%;
	}
	.container_text h3{
		font-size: 1.3em;
	}	
	.container_text p{
		font-size:0.9em; /*oculta o parágrafo*/
	}
}